# -------- Python --------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------- Virtual Environments --------
venv/
.venv/

# -------- Environment Variables --------
.env

# -------- Testing & Coverage --------
.coverage
htmlcov/
.pytest_cache/

# -------- Streamlit --------
.streamlit/

# -------- IDE / OS --------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------- Logs --------
*.log
